@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to guitarland</h1>
    <p>Learn about my guitar journey and learn how you can progress on your own.</p>
</div>

<div class="text-container">
    <div class="text-center">
        <p>When I was 12 my older brother gave me an acoustic guitar. He taught me some basic chords and a couple songs. I played off and on until my junior year of high school when I decided I wanted to learn how to sing and play guitar. It became my obsession. I would spend hours in my basement learning new songs and practicing my skills on the guitar. </p>
    </div>
</div>

<div class="image-container">
    <img src="~/images/cuteguitar.jpg">
</div>
<div class="text-container">
    <div class="text-center">
        <p>After my mission I decided I wanted to get better at electric guitar and to join a band. I bought a bass guitar and a new electric guitar with two amps. This was a wonderful decision. I spent that summer recording myself playing all the parts to some of my favorite songs. When I came back to school I met some guys who were starting a pop punk band, and I decided to join their band. I spent about a year in Peaked in High School and also helped out playing bass for a band called Dead in The Neighbors Pool. </p>
    </div>
</div>
<div class="image-container">
	<img src="~/images/bass.jpg">
</div>

<div class="text-container">
    <div class="text-center">
        <p>As hard as it is to believe I am not an avid punk music guy. I like it, but its not my favorite. Hence, My Other Band (MoB) was born. We play Alternative/Indie music. We have spent the last few months writing music and are getting close to releasing an EP and touring. I love Music. It is how I best express myself. When I am making music or performing, I feel completely alive. I want to be able to share my love and knowledge of music with as many people as possible.</p>
    </div>
</div>
<div class="image-container"> 
    <img src="~/images/mob.jpg">
</div>

